@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 190px;
        height: 60px;
    }

    .filme-principal{
        margin-top: 20%;
        height: 200px;
    }

    .filme-principal .title{
        margin-top: 30%;
        font-size: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .filme-principal .descricao{
        font-size: 10px;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}