@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-bottom: 60px;
        width: 110px;
        height: 50px;
        padding: 9px 10px;
        margin-right: 13px;
        font-size: 9px;
        ;
    }

    .filme-principal{
        margin-top: 20%;
        height: 200px;
    }

    .filme-principal .title{
        margin-top: 30%;
        font-size: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .filme-principal .descricao{
        font-size: 10px;
    }
}

@media screen and (max-width:380px){
    header .container{
        display: flex;
        flex-direction: column;
        font-size: 11px;
        
    }
    header .logo{
        color: var(--vermelho);
        font-family: 'Arial Black';
        font-size: 20px;
        margin-left: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    header nav a{
        text-decoration: none;
        color: #aaa;
        margin-right: 5px;
    }

    .botao{
        margin-bottom: 50%;   
        width: 80px;
        height: 60px;
        padding: 9px 10px;
        margin-right: 13px;
        font-size: 9px;
        ;
    }

    .filme-principal{
        margin-top: 20%;
        height: 150px;
    }

    .filme-principal .title{
        margin-top: 60%;
        font-size: 11px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .filme-principal .descricao{
        
        font-size: 8px;
    }
}

@media screen and (min-width:1000px){
    
    .descricao{
        width: 50%;
    }

    .filme-principal{
        margin-top: 5%;
        height: 600px;
    }
}

@media screen and (min-width:1560px){
    .descricao{
        width: 50%;
    }

    .filme-principal{
        margin-top: 5%;
        height: 900px;
    }
}

@media screen and (min-width:2100px){
    
    .filme-principal{
        margin-top: 5%;
        height: 1200px;
    }
    
    .filme-principal .title{
        margin-top: 10%;
        font-size: 65px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .descricao{
        width: 50%;
        font-size: 25px;
    }

    .botao{
        margin-bottom: 60px;
        width: 200px;
        height: 100px;
        padding: 9px 10px;
        margin-right: 13px;
        font-size: 19px;
        ;
    }
}